.label-home {
  padding: 0.5em;
  margin-bottom: 10px;
  color: #9b59c2; 
}


.input-home {
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #735385;
  border-radius: 0;
  background: transparent;
  padding: 0;
  color: #322b36;
  width: 280px;
}
.input-home,
.label-home {
  display: block;
  margin-right: 0%;
  
}
.input-home:hover {
  border-color: #36ebe2;
}

.label-home:hover {
  border-color: #36ebe2;
}

.input-home:focus {
  outline: 0;
  box-shadow: none;
  border-color: #36ebe2;
}

.label-home:focus {
  outline: 0;
  box-shadow: none;
  border-color: #36ebe2;
}

#Account {
  background-color: azure;
  color:#794b94;
  border-radius: 100px;
  width: auto;
}


#notIn{
  text-align: center;
  background-color:azure;
  opacity: 0.7;
  z-index: 0;
  border-radius: 20px;
}
#a{
  font-size: 25px;
  margin-top: 15px;
  animation: blinker 2s linear infinite;
  color:#735385 ;
}
 @keyframes blinker {
    90% {
      opacity: 0.5;
    }
}

#form{
background-color: transparent;
display: flex;
align-items: center;
justify-content: center;
width: 950px;
height: 450px;
margin: auto;
}

#abtA{
background-color: azure;
  margin-right: 4%;
  width: 380px;
  display: flex;
  justify-content: center;
  height:70vh;
  box-shadow: 2px 2px 20px 2px rgb(223, 188, 245);
  border-radius: 15px;
}

#abtE{
  background-color: azure;
  margin-left: 4%;
  width: 380px;
  display: flex;
  justify-content: center;
  height:70vh;
  box-shadow: 2px 2px 20px 2px rgb(223, 188, 245);
  border-radius: 15px;
}

#btn{
  color:#9b59c2;
  padding: 15px 15px;
  text-transform: uppercase;
  border-radius: 15px;
  margin-top: 10px;
  background-color: rgb(228, 253, 253);
  border: 1px solid rgb(223, 188, 245);

}

#btn:hover {
  border: 1px solid rgb(231, 229, 229);
  background: #36ebe2;
  color: azure;
}


