.label-home {
  padding: 0.5em;
  margin-bottom: 10px;
  color: rgb(173, 20, 20); 
}


.input-home {
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #7807e2;
  border-radius: 0;
  background: transparent;
  padding: 0;
  color: rgb(133, 62, 62);
  width: 280px;
}
.input-home,
.label-home {
  display: block;
  margin-right: 0%;
  
}
.input-home:hover {
  border-color: #73AD21;
}

.label-home:hover {
  border-color: #73AD21;
}

.input-home:focus {
  outline: 0;
  box-shadow: none;
  border-color: #73AD21;
}

.label-home:focus {
  outline: 0;
  box-shadow: none;
  border-color: #73AD21;
}

#Account {
  background-color: azure;
  color:#794b94;
  border-radius: 100px;
  width: auto;
}

#notIn{
  text-align: center;
  background-color:rgb(217, 247, 247);
  opacity: 0.6;
  z-index: 0;
  border-radius: 20px;
}

#a{
  font-size: 25px;
  margin-top: 15px;
  animation: blinker 2s linear infinite;
  color:#735385 ;
}
 @keyframes blinker {
    50% {
      opacity: 0.3;
    }
  }
#form{
background-color: #735385;
display: flex;
align-items: center;
justify-content: center;
width: 950px;
height: 550px;
margin: auto;
}

#abtA{
background-image: url("https://media.istockphoto.com/photos/vector-hexagons-pattern-geometric-abstract-background-with-simple-picture-id1307794659?b=1&k=20&m=1307794659&s=170667a&w=0&h=8utxIGEIgxxX_rUGxa5DtS7MQIaCHvQjt1eBrU28lEg=");
margin-right: 4%;
width: 380px;
display: flex;
justify-content: center;
height:70vh;
}

#abtE{
background-image: url("https://media.istockphoto.com/photos/vector-hexagons-pattern-geometric-abstract-background-with-simple-picture-id1307794659?b=1&k=20&m=1307794659&s=170667a&w=0&h=8utxIGEIgxxX_rUGxa5DtS7MQIaCHvQjt1eBrU28lEg=");

margin-left: 4%;
width: 380px;
display: flex;
justify-content: center;

height:70vh;
}


